@font-face{
  font-family:'edmondsans';
  font-weight: bold;
  src:url('Edmondsans-Bold.otf');
}

@font-face{
  font-family:'edmondsans';
  font-weight: 400;
  src:url('Edmondsans-Medium.otf');
}

@font-face{
  font-family:'edmondsans';
  font-weight: normal;
  src:url('Edmondsans-Regular.otf');
}

body,ul,html { padding: 0; margin: 0; width: 100%; height: 100%; }
li { list-style-type: none; }
body {
  background: url('../images/bg1.jpg') top left no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
body > object {
  position: absolute;
  top: 0;
  left: 0;
}
a, a:hover, a:visited {
  color:white;
  text-decoration: none;
}

.streams-container { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.streams-container > object { padding: 0; margin: 0; -moz-transition: all 5s; -webkit-transition: all 5s; position: relative; float: left; background-color: rgba(32, 32, 32, 0.2); }

#single-stream object { width: 100%; height: 100%; }
#double-stream object { width: 50%; height: 100%; }
#quad-stream object { width: 50%; height: 50%; }
#six-stream object { width: 33.3%; height: 50%; }
#nine-stream object { width: 33.3%; height: 33%; }
#twelve-stream object { width: 25%; height: 33%; }

#logo {
  font-family: 'edmondsans';
  font-weight: bold;
  margin-left: 0px !important;
  margin-right: 20px !important;
  font-size: 27px;
  position: relative;
top: 8px;
}

.inset { text-shadow: 0 1px 0 #fff; }

#role-button{
  margin: auto;
  display: block;
  position: relative;
  top:90px;
}
.stats {
  float: right !important;
  text-align: right;
  margin-left: 20px !important;
  margin-right: 0px !important;
  padding-top: 10px;

  font-size: 14px;
  font-family: 'edmondsans';
}

.status {
font-size: 14px;
}

.green {
  color: green;
}

.freshtag {
  margin-right:40px;
  display: inline-block; 
}


span {
  color: white;
}

.cont {
  height: 100%;
}

.top_left {
background: rgba(0, 0, 0, .9);
-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
margin: 70px 0px 20px 0px;
height: 249px;
}
.bottom_left {
background: rgba(0, 0, 0, .9);
-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
margin: 10px 0px 0px 0px;
height: 290px;
}

#publisher object {
  width: 100%;
  position: relative;
}

div#myself{
  height:202px;
}

.others {
   background: rgba(0, 0, 0, .9);
   height:350px;
   margin-top: 70px;
   -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 1);
   box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 1);
}

.chat {
 height:175px;
 margin-top: 20px;
}

#chat-feed {
  height: 145px;
  background: rgba(255, 255, 255, .9);
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 1);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 1);
  margin-bottom: 5px;
  overflow-y: scroll;
}

ul#posted_msgs li {
  margin-bottom: 1em;
  clear: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

ul#posted_msgs li a{
  color:#777;
}

ul#posted_msgs li img {
  width: 80px;
  height: 60px;
  margin: 0.5em 0.5em 1em 0.5em;
  float: left;
}

ul#posted_msgs li p {
  margin: 0.5em 0 0 0.5em;
  padding: 0.5em 0 0 0;
}

.nickname_wrapper {
  position:relative;
  top: 170px;
}

.nickname {
  position: absolute;
  height: 26px;
  background-color: rgba(0,0,0,.4);
  color: white;
  font-family: 'edmondsans';
  padding-top: 4px;
  width: 70%;
  padding-left: 7px;
  font-size: 14px;
}

.description {
  padding: 7px;
  position: relative;
  bottom: -32px;
}

.chat_submit_btn, .freshtag_submit_btn{
  font-family: 'edmondsans';
}

.trending_head {
  font-family: 'edmondsans';
  font-weight: bold;
  padding: 12px 0px 0px 5px;
  font-size: 18px;
  color: #fff;
}

input {
  margin: 0;
  padding: 0 1em 0 1em;
  border: 0px;
  border-spacing: 0;
  height: 3em;
}

#freshtag-input {
  width: 184px;
}

#freshtag-button {
}

#chat-input {
  width: 424px;
}

#chat-media-button {
  width: 13%;
}

#chat-button {
  width: 13%;
}

#live {
  opacity: 0;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.connected #live {
  opacity: 1;
}

#freshtag-form {
  position: absolute;
  top: 50%;
  width: 32%;
  margin: 0.25em 0 0 0.55em;
  height: 100%;
  -moz-transition: all 0.66s;
  -webkit-transition: all 0.66s;
}

#freshtag-form input[type="submit"] {
  font-size: 10pt;
}

#top-bar {
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  -moz-transition: all 0.66s;
  -webkit-transition: all 0.66s;
  width:100%;
}

.connected #top-bar {
  height: 3.125em;
}

#top-bar .grid_12, #top-bar .grid_12 .grid_4 {
  height: 100%;
}

.connected #freshtag-form {
  top: 0%;
}

#role {
  text-align: right;
  margin: 16px;
  color: white;
  float: right;
}
#roomNumber {
float: left;
margin-left: 10px;
margin-top: 16px;
color: white;
}

#role-span {
  color: white;
  font-family: 'edmondsans';
  font-weight: bold;
}

#role-span.lurk {
  color: yellow;
}

#role-span.guest {
  color: #00B31B;
}

#top_btn{
  float: right;
}

#trends {
  overflow: hidden;
}


#trends ul {
  height: 249px;
  margin-left: 10px;
}

#role-button.hidden {
  display: none;
}

div#trends li {
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transform-origin: 0 0;
}

div#trends li.show {
  -moz-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  height: 1.5em;
}

div#trends li.hidden {
  -moz-transform: scale3d(1, 0, 1);
  -webkit-transform: scale3d(1, 0, 1);
  height: 0;
}
