@font-face{
  font-family:'proximaNova';
  font-weight: bold;
  src:url('ProximaNova-Bold.otf');
}

@font-face{
  font-family:'proximaNova';
  font-weight: normal;
  src:url('ProximaNova-Light.otf');
}

body,ul,html { padding: 0; margin: 0; width: 100%; height: 100%; }
li { list-style-type: none; }
body {
  background: top left no-repeat;
  background-size: cover;
  font-family: sans-serif;
  background-color: black;
  font-family:'proximaNova';
  font-weight: normal;
}
body > object {
  position: absolute;
  top: 0;
  left: 0;
}
a, a:visited {
  color:white;
  text-decoration: none;
}
a:hover {
  color: #000;
}
.streams-container { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.streams-container > object { padding: 0; margin: 0; -moz-transition: all 5s; -webkit-transition: all 5s; position: relative; float: left; background-color: rgba(32, 32, 32, 0.2); }

#single-stream object { width: 100%; height: 100%; }
#double-stream object { width: 50%; height: 100%; }
#quad-stream object { width: 50%; height: 50%; }
#six-stream object { width: 33.3%; height: 50%; }
#nine-stream object { width: 33.3%; height: 33%; }
#twelve-stream object { width: 25%; height: 33%; }

#logo {
  font-family: 'proximaNova';
  font-weight: bold;
  margin-left: 0px !important;
  margin-right: 20px !important;
  font-size: 27px;
  position: relative;
top: 2px;
}
#logo a {
position: relative;
left: -3px;
}

.inset { text-shadow: 0 1px 0 #fff; }

#role-button, .share_buttons{
  display: block;
  position: relative;
  top: 268px;
  width: 100%;
}

.share_buttons{
  width: 50% !important;
  float: left;
}

.stats {
  float: right !important;
  text-align: right;
  margin-left: 20px !important;
  margin-right: 0px !important;
  padding-top: 10px;

  font-size: 14px;
  font-family: 'proximaNova';
}

.status {
font-size: 14px;
margin-top: 12px;
}

.green {
  color: green;
}

li{
  height: 1.5em;
}

.freshtag {
  margin-right:40px;
  display: inline-block; 
}


span {
  color: white;
}

.cont {
  height: 100%;
}

.top_left {
background: rgba(0, 0, 0, .9);
margin: 20px 0px 0px 0px;
height: 348px;
}
.bottom_left {
background: rgba(51, 204, 204, .9);
margin: 51px auto 0px auto;
height: 50px;
width: 940px;
}

#publisher object {
  width: 100%;
  position: relative;
}

div#myself{
  height:202px;
}

.others {
   background: rgba(0, 0, 0, .9);
   height:350px;
   margin-top: 20px;
}

.chat {
 height:175px;
 margin-top: 20px;
}

#chat-feed {
  height: 145px;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
  overflow-y: scroll;
}

ul#posted_msgs li {
  margin-bottom: 20px;
  clear: left;
  padding-bottom: 6px;
  min-height: 68px;
border-bottom: 1px solid #555;
border-top: 1px solid #eee;
}

ul#posted_msgs li a{
  color:#777;
}

ul#posted_msgs li img {
  width: 80px;
  height: 60px;
  margin: 0.5em 0.5em 1em 0.5em;
  float: left;
}

ul#posted_msgs li p {
  margin: 0.5em 0 0 0.5em;
  padding: 0.5em 0 0 0;
}

.nickname_wrapper {
  position:relative;
  top: 170px;
}

.nickname {
  position: absolute;
  height: 26px;
  background-color: rgba(0,0,0,.4);
  color: white;
  font-family: 'proximaNova';
  padding-top: 4px;
  width: 70%;
  padding-left: 7px;
  font-size: 14px;
}

.description {
  padding: 7px;
  position: relative;
  bottom: -32px;
}

.chat_submit_btn, .freshtag_submit_btn{
  font-family: 'proximaNova';
}

.trending_head {
  font-family: 'proximaNova';
  font-weight: bold;
  padding: 16px 0px 5px 5px;
  font-size: 18px;
  color: #fff;
  float: left;
}

input {
  margin: 0;
  border: 0px;
  border-spacing: 0;
  height: 40px;
}

#chat-input, #freshtag-input {
  padding: 0 0 0 0.5em;
}

#freshtag-input {
  width: 184px;
}

#freshtag-button {
    width: 76px;
}

#chat-input {
  width: 681px;
}

#chat-media-button {
  width: 13%;
}

#chat-button {
  width: 13%;
}

.connected .about {
  display: none;
}

#live {
  opacity: 0;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.started-connected #live {
  -moz-transition: none;
  -webkit-transition: none;
}

.connected #live {
  opacity: 1;
}

#freshtag-form {
  position: absolute;
  top: 200px;
  width: 300px;
  margin: 5px 0 0 0.55em;
  height: 100%;
  -moz-transition: all 0.66s;
  -webkit-transition: all 0.66s;
}

#freshtag-form input[type="submit"] {
  font-size: 8pt;
}

.connected #freshtag-form {
  top: 0%;
}

.started-connected #freshtag-form {
  -moz-transition: none;
  -webkit-transition: none;
}

#top-bar {
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  -moz-transition: all 0.66s;
  -webkit-transition: all 0.66s;
  width:100%;
}

.started-connected #top-bar {
  -moz-transition: none;
  -webkit-transition: none;
}

.connected #top-bar {
  height: 3.125em;
    -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 1);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 1);
}

#top-bar .grid_12, #top-bar .grid_12 .grid_4 {
  height: 100%;
}

#featured-topics {
  position: absolute;
  top: 50%;
  width: 32%;
  margin: 0.25em 0 0 0.55em;
  height: 100%;
}

.connected #featured-topics {
  display: none;
}

#role {
  text-align: right;
  margin: 16px;
  color: white;
  float: right;
}
#roomNumber {
float: left;
margin-left: 10px;
margin-top: 16px;
color: white;
}

#role-span {
  color: white;
  font-family: 'proximaNova';
  font-weight: bold;
}

#role-span.lurk {
  color: #D4815F;
}

#role-span.guest {
  color: #33cccc;
}

#top_btn{
  float: right;
  position: relative;
left: 32px;
}

#trends {
  overflow: hidden;
}


#trends ul, #featured_topics ul {
  width: 800px;
  float: right;
  position: relative;
top: 17px;
}

#role-button.hidden {
  display: none;
}

div#trends li {
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transform-origin: 0 0;
}

div#trends li.show {
  -moz-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  height: 1.5em;
}

div#trends li.hidden {
  -moz-transform: scale3d(1, 0, 1);
  -webkit-transform: scale3d(1, 0, 1);
  height: 0;
}


input[type="submit"]:hover, input[type="button"]:hover{
  background-color: #3CC !important;
}
input[type="submit"]:active, input[type="button"]:active{
  color:green !important;
  background-color: #ccc !important;
}

.title{
  width:120px;
  margin:auto;
  position:relative;
}
.not_here{
  margin-top: 10px;
  position: absolute;
  color: white;
  font-weight: bold;
}
#myself .title{
  width:55px;
}

.about {
  color: white;
  position: absolute;
  top: 178px;
}
.heading_bar {
height: 40px;
background-color: #3CC;
text-align: center;
font-weight: bold;
font-size: 35px;
color: white;
}

.copyright{
  text-align: center;
color: white;
margin-top: 34px;
background-color: rgba(0, 0, 0, .9);
height: 40px;
padding-top: 10px;
}

.copyright a{
  color:rgba(51, 204, 204, 1);
}

.copyright a:hover{
  text-decoration: underline;
}

@-moz-document url-prefix() {
  #freshtag-button, #chat-media-button, #chat-button{
    position: relative;
    top:1px;
  }
}
