body,ul,html { padding: 0; margin: 0; width: 100%; height: 100%; }
      img { max-width: 13.5em; max-height: 13.5em }
      iframe { max-width: 13.5em; max-height: 13.5em; }

      #trending, #feed { overflow: auto; }

      #home { top: 0; left: 0; width: 22%; height: 100%; }
        #myself { top: 0; left: 0; height: 25%; width: 100%; }
          #status { top: 0; left: 0; width: 100%; height: 15%; background-color: rgba(255, 32, 32, 0.2); }
          #publisher { width: 100%; height: 100%; }
          #publisher object { width: 100%; height: 100%; }
        #freshtag { top: 25%; left: 0; width: 100%; height: 10%; }
          #connect-form { height: 100%; width: 100%; }
          #freshtag-id { width: 67%; height: 100%; float: left; border: 0px; font-size: 100%; } 
          #connect { border: 0px; width: 33%; height: 100%; background-color: #efefef; float: left; }
        #trending { top: 35%; width: 100%; height: 65%; }

      #live { top: 0; left: 22%; width: 78%; height: 100%; }
        #streams { top: 0; left: 0; width: 100%; height: 57%; background-color: rgba(255, 32, 64, 0.2); }
        #feed { top: 57%; left: 0; width: 100%; height: 33%; background-color: rgba(0, 32, 64, 0.2); }
        #input { top: 90%; left: 0; width: 100%; height: 9%; background-color: rgba(0, 32, 64, 0.2); }
          #input textarea { width: 60%; height: 100%; border: 0px; }

      .streams-container { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
        .stream { -webkit-transition: all 0.33s; -moz-transition: all 1s; position: relative; float: left; background-color: rgba(32, 32, 32, 0.2); }
          .stream object { width: 100%; height: 100%; }

      #single-stream .stream { width: 100%; height: 100%; }
      #double-stream .stream { width: 50%; height: 100%; }
      #quad-stream .stream { width: 50%; height: 50%; }
      #six-stream .stream { width: 33.3%; height: 50%; }
      #nine-stream .stream { width: 33.3%; height: 33%; }
      #twelve-stream .stream { width: 25%; height: 33%; }

      ul { list-style-type: none; }
      li.item { min-height: 1em; padding: 0.33em; }
      li.item div { position: relative; margin: 0 0 1em 0; }
      div.avatar { width: 15%; min-height: 3em; float: left; background-color: rgba(0, 128, 64, 0.2);}
      div.content { width: 85%; min-height: 3em; float: left; background-color: rgba(256, 128, 256, 0.2);}

@font-face{
  font-family:'edmondsans';
  font-weight: bold;
  src:url('Edmondsans-Bold.otf');
}
@font-face{
  font-family:'edmondsans';
  font-weight: medium;
  src:url('Edmondsans-Medium.otf');
}
@font-face{
  font-family:'edmondsans';
  font-weight: normal;
  src:url('Edmondsans-Regular.otf');
}

.logo{
  font-family: 'edmondsans';
  font-weight: bold;
}

body{
  background: url('../images/climpek2x.png')top left;
}

.top_bar_bg{
  height: 40px;
width: 100%;
position: fixed;
background: rgba(0, 0, 0, 1);
z-index: 1;
}

.top_bar{
  height: 40px;
  position: fixed;
  color: white;
  z-index: 2;
}

.cont{

  min-height:600px;
  height: 100%;
}
.left_col{
  background: rgba(0,0,0,.3);
  min-height:600px;
  height: 100%;
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .4);
        
        box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .4);
}

#myself{
height: 200px;
background: red;
width: 100%;
margin-top: 50px;
}
.status{
height:30px;
background: black;
width:100%
}

.others{
 background: rgba(0,0,0,.7);
 height:350px;
 margin-top: 50px;
 -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .4);
        
        box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .4);
}
.chat{
 height:175px;
 margin-top: 10px;
 
}
.chat_feed{
  height: 145px;
  background: rgba(255,255,255,.7);
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .4);
        
        box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .4);
  margin-bottom: 5px;
  overflow-y: scroll;
}
.chat_input_box{
  height:30px;
}
.chat_input{
  height: 24px;
width: 79%;
float: left;
position: relative;
left:-1px;
}
.chat_submit{
  height: 24px;
width: 20%;
float: right;
}
.chat_submit_btn {
width: 102%;
height: 30px;
}

ul.posted_msgs li{
  margin-bottom: 3px;
  border-bottom: solid 1px #444;
}
.post{
  padding: 5px 10px 5px 20px;
}
